@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,600;0,14..32,900;1,14..32,300;1,14..32,400;1,14..32,600;1,14..32,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.slider {
  width: 100%;
  height: 80vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:brightness(70%)
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.slider-content p {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 300;
}

.section {
  padding: 100px 0;
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.w25 {
  width: 25%;
}

.w32 {
  width: 32%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.dark {
  background: black;
  color: #fff;
}

.text-center {
  text-align: center;
}

.skill {
  background:#fff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
} 

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3 {
  margin-top: 10px;
  color: black;
}

.gap20 {
  gap: 20px;
}

.flex {
  display: flex;
}