@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,600;0,14..32,900;1,14..32,300;1,14..32,400;1,14..32,600;1,14..32,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.slider {
  width: 100%;
  height: 80vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:brightness(70%)
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.slider-content p {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 300;
}

.section {
  padding: 100px 0;
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w32 {
  width: 32%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  background: black;
  color: #fff;
}

.text-center {
  text-align: center;
}

.skill {
  background:#fff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
} 

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3 {
  margin-top: 10px;
  color: black;
}

.gap20 {
  gap: 20px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.realisation {
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.realisation h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .4s ease;
}

.realisation a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.realisation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: .4s ease;
}

.realisation:hover img{
  filter: brightness(80%);
}

.realisation:hover h3{
  opacity: 1;
}

.wrap {
  flex-wrap: wrap;
}

.icon{
  display: block;
  font-size: 1.5rem;
}

.label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 1.5rem;
}

.value {
  display: block;
  font-size: 1.2rem;
}

.contact  {
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  margin: auto;
}

.profile-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}